{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}
    Accounts page
{% endblock %}

{% block content %}
{% include 'multierp/header.html' %}
<br>
<h1 style="text-align: center;">Purchase Order</h1>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center bg-info text-white  mb-3" >
			  	<div class="card-header">
			  		<h5 class="card-title">Total Orders</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_orders}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center bg-success text-white  mb-3" >
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Delivered</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{delivered}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white bg-danger mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Pending</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{pending}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col">
		<div class="card card-body border-0">
			<form method="get">
		    {% for field in filter.form %}
		    	{{field.label}}
				{{field|add_class:'form-control-sm'}}
				&nbsp;&nbsp;&nbsp;&nbsp;
			{% endfor %}
			<br>
			<br>
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
</div>

<div class="col-md-12">
	<h5>Search Result</h5>
	<div class="card card-body">					
		<table class="table table-sm" border="2px">
			<tr>
				<th>Product</th>
				<th>Date Orderd</th>
				<th>Status</th>
				{% if perms.multierp.change_purchaseorder %}
					<th>Update</th>
				{% endif %}
				{% if perms.multierp.delete_purchaseorder %}
					<th>Remove</th>
				{% endif %}
				<th>Details</th>
			</tr>
			{% for order in searchpurchaseorders %}
				<tr>
					<td>{{order.PO_no}}</td>
					<td>{{order.PO_Date}}</td>	
					<td>{{order.Status}}</td>
					<td><a class="btn btn-sm btn-warning" href="{% url 'multierp:updatepurchaseorder' order.id %}">Update</a></td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'multierp:deletepurchaseorder' order.id %}">Cancel</a></td>
					<td><a class="btn btn-sm btn-primary" href="{% url 'multierp:purchaseorderdetails' order.id%}">Details</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>


<div class="col-md-12">
	<h5>Latest 5 Orders</h5>
	<div class="card card-body">	
		{% if perms.multierp.add_purchaseorder %}
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'multierp:createpurchaseorder' %}">Create Purchase Order</a>
		{% endif %}
		<table class="table table-sm" border="2px">
			<tr>
				<th>Product</th>
				<th>Date Orderd</th>
				<th>Status</th>
				<th>Update</th>
				<th>Remove</th>
				<th>Details</th>
			</tr>
			{% for order in orders %}
				<tr>
					<td>{{order.PO_no}}</td>
					<td>{{order.PO_Date}}</td>	
					<td>{{order.Status}}</td>
					<td><a class="btn btn-sm btn-warning" href="{% url 'multierp:updatepurchaseorder' order.id %}">Update</a></td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'multierp:deletepurchaseorder' order.id %}">Cancel</a></td>
					<td><a class="btn btn-sm btn-primary" href="{% url 'multierp:purchaseorderdetails' order.id%}">Details</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>



{% endblock content %}